certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.3
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
pyqt6-plugins
PyQt6-Qt6
PyQt6-sip
pyqt6-tools
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PySide6
PySide6_Addons
PySide6_Essentials
pytest==8.0.2
python-dotenv==1.0.0
qt6-applications
qt6-tools
requests==2.31.0
shiboken6==6.6.2
urllib3==2.2.1
